.no_authority {
    position: fixed;
    height: 100%;
    width: 100%;
    color: #a4a4a4;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.1rem;
    background-color: #ededed;

    .reset {
        position: fixed;
        bottom: 1rem;
        font-size: 0.88rem;
        cursor: pointer;
        font-style: italic;
    }
}