.input_passwords {
    position: fixed;
    height: 100%;
    width: 100%;
    color: #A1A1AA;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    // font-weight: 300;
    text-align: center;
    letter-spacing: 0.1rem;
    background-color: #ededed;

    input {
        height: 36px;
        border-radius: 12px;
        padding: 8px 12px;
        box-sizing: border-box;
        border: 2px solid #E4E4E7;
    }

    .check {
        margin-top: 16px;
        font-size: 1.2rem;
    }

    .forgot {
        font-size: 0.88rem;
        position: fixed;
        bottom: 32px;
        color: #A1A1AA;
        font-style: italic;
    }
}